<div>
  <% @pics.each do |p| %>
      <% if file_scan(p) == '.pdf' %>
          <object data=<%= p.image.url %> type="application/pdf" width="750px" height="750px">
            <embed src=<%= p.image.url %> type="application/pdf">
              <p>This browser does not support PDFs. Please download the PDF to view it:
                <a href=<%= p.image.url %>>Download PDF</a>.</p>
            </embed>
          </object>
      <% elsif ['.docx','.doc'].include? file_scan(p) %>
      <%= link_to '下载Doc', p.image.url %>
       <% else %>
          <%= image_tag p.image.url %>
      <% end %>
  <% end %>
</div>