
<div class="table-responsive" style="padding:90px;">
  <table class="table  table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Mobile Number</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>College</th>
      <th>Resume</th>

    </tr>
    </thead>
    <tbody>
    <% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.name %></td>
          <td><%= resume.mobile_number %></td>
          <td><%= resume.email %></td>
          <td><%= resume.gender %></td>
          <td><%= resume.birthday.strftime("%Y-%m") if !resume.birthday.blank? %></td>
          <td><%= resume.college %></td>
          <td> <%= link_to 'Detail', detail_admin_path(resume),class:'edit_btn',data: {remote: true}%></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

