<% if !@resume.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="well"  >
  <%= form_for @resume, html: { multipart: true, class: "form-horizontal" } do |f| %>
    <div class="form-group">
        <%= f.label :name, class: 'hidden-xs control-label col-sm-3' %>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-user-circle" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control',placeholder: 'Your Name' ,'valid-required' => true %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email, class: 'hidden-xs control-label col-sm-3' %>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-envelope" aria-hidden="true"></span>
                </span>
                <%= f.text_field :email, class: 'form-control',placeholder: 'Email' ,'valid-required' => true %>
            </div>
        </div>

    </div>
    <div class="form-group">
        <%= f.label :mobile_number, class: 'hidden-xs control-label col-sm-3' %>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                </span>
                <%= f.text_field :mobile_number , class: 'form-control',placeholder: 'Mobile Number','valid-required' => true%>
            </div>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :birthday, class: 'hidden-xs control-label col-sm-3' %>
        <div class="col-sm-9">
          <div class='input-group date' id='datetimepicker1'>
                <span class="input-group-addon">
                    <span class="fa fa-birthday-cake" aria-hidden="true"></span>
                </span>
                <%= f.text_field :birthday, class: 'form-control', data: { date_format: 'YYYY/MM/DD' },placeholder: 'Birthday' ,'valid-required' => true%>
            </div>
        </div>
    </div>

      <div class="form-group">
        <%= f.label :gender, class: 'hidden-xs control-label col-sm-3 ' %>
           <div class="input-group">
                <span class="input-group-addon" >
                    <span class="fa fa-venus-mars" aria-hidden="true"></span>
                </span>
            <%= f.select :gender, ['MALE','FEMALE'], {},  {class: '', 'valid-required' => true } %>
            </div>
      </div>

    <div class="form-group">
        <%= f.label :college, class: 'hidden-xs control-label col-sm-3' %>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-university" aria-hidden="true"></span>
                </span>
                <%= f.text_field :college, class: 'form-control',placeholder: 'College' %>
            </div>
        </div>
    </div>

      <p class="text-danger">Notice: <a class="text-muted"> IOS only support images, Android supports PDF,DOC,JPG </a> </p>

      <%= f.fields_for :items do |p| %>
          <div class="form-group">
            <%= p.label :image , class: 'hidden-xs control-label col-sm-3 '%>
              <div class="col-sm-9">
                  <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-camera" aria-hidden="true"></span>
                    </span>
                      <%= p.file_field :image, :multiple => true, name: "items[image][]", class: 'form-control','valid-required' => true %>
                  </div>
              </div>
          </div>
      <% end %>

      <div class="form-group">
          <label class="hidden-xs control-label col-sm-3"></label>
          <div class="col-sm-9">
              <%= f.submit 'Submit Resume', class: "btn btn-danger submit-btn" %>
          </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
