<!DOCTYPE html>
<html>
<head>
  <title>CarrierWaveExample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>
<div class="container" style="padding-top:20px; ">
  <%= yield %>
</div>
</body>
</html>